<div class="container position-relative">
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid align-items-">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="#" class="d-md-none">
        <img
          class="bg-white rounded-circle p-1"
          src="./assets/images/icon-person.png"
          alt="person icon"
          style="width: 24px; height: 24px"
      /></a>

      <ul
        class="collapse navbar-collapse justify-content-end"
        id="navbarSupportedContent"
      >
        <li><a href="index.html" class="nav-link">活動新訊</a></li>
        <li><a href="view.html" class="nav-link">景點</a></li>
        <li><a href="food.html" class="nav-link">美食</a></li>
        <li><a href="hotel.html" class="nav-link">住宿</a></li>
        <li><a href="#" class="nav-link">交通</a></li>
        <li class="d-none d-md-block">
          <a href="#" class="align-middle link-dark ms-2 me-2"
            ><span class="material-icons-outlined align-middle">search</span></a
          >
        </li>
        <li class="d-none d-md-block">
          <a href="#" class="">
            <img
              class="bg-white rounded-circle p-1"
              src="./assets/images/icon-person.png"
              alt="person icon"
              style="width: 24px; height: 24px"
          /></a>
        </li>
      </ul>
    </div>
  </nav>
      <!-- navbar -->
      <% switch (current) { 
        case 'index' : %>
        <h1 class="logo">
          <a href="index.html" class="h-100"><%- title %> </a>
        </h1>
        <% break; 
      
      case 'view' : %>

      <div class="d-flex ratio ratio-65x37">
        <img class="card-img" src="../assets/images/banner-div.png" alt="blank">
      </div>
      <div class="d-flex justify-content-start w-80 gap-5">
        <div class="d-flex justify-content-center position-relative w-80">
          <input type="text" class="input-search w-100" name="search input" id="" placeholder="請輸入關鍵字">
          <a href="#" class="material-icons-outlined align-middle link-dark position-absolute top-50 end-0 translate-middle-y">
            search
          </a>
        </div>
        
      </div>
      <% break; 
      
      case 'hotel' : %>
      
      <% break; 
      
      case 'food' : %>
      
      
      <% break; } %> 
</div>
