<div class="d-flex justify-content-center gap-4 pb-21 mt-md-20 pt-md-20">
    <div class="position-relative w-50">
      <input
        type="text"
        class="input-search w-100"
        name="search input"
        placeholder="請輸入關鍵字"
      />
      <a
        href="#"
        class="
          material-icons-outlined
          align-middle
          link-dark
          position-absolute
          top-50
          end-0
          translate-middle-y
          me-2
        "
      >
        search
      </a>
    </div>
</div>
