<div class="d-flex justify-content-center gap-4 mb-15 mb-md-0 pb-md-21 mt-md-20 pt-md-20">
    <div class="position-relative w-50">
      <input
        type="text"
        class="input-search w-100"
        name="search input"
        placeholder="請輸入關鍵字"
      />
      <a
        href="#"
        class="
          material-icons-outlined
          align-middle
          link-dark
          position-absolute
          top-50
          end-0
          translate-middle-y
          me-2
        "
      >
        search
      </a>
    </div>
</div>

<nav class="d-md-none pb-12">
<ul class="row">
  <li class="col-4">
    <a
    href="#"
    class="
      card
      bg-transparent
      border-0
      card-rounded
      position-relative
      h-200
      card-hover-filter card-hover-filter
    "
  >
    <div class="ratio-4x3 h-100">
      <img
        src="./assets/images/taiwanSpecial-1.png"
        alt="img"
        class="card-bg-img h-100 card-rounded"
      />
    </div>
    <div
      class="
        position-absolute
        bottom-0
        w-100
        h-20
        bg-gray-lighter
        card-rounded-bottom
        d-flex
        align-items-center
        ps-2
      "
    >
      <h3 class="display-8 fw-bold text-white text-shadow">台灣特色</h3>
    </div>
  </a>
  </li>
  <li class="col-4">
    <a
    href="#"
    class="
      card
      bg-transparent
      border-0
      card-rounded
      position-relative
      h-200
      card-hover-filter card-hover-filter
    "
  >
    <div class="ratio-4x3 h-100">
      <img
        src="./assets/images/taiwanSpecial-2.png"
        alt="img"
        class="card-bg-img h-100 card-rounded"
      />
    </div>
    <div
      class="
        position-absolute
        bottom-0
        w-100
        h-20
        bg-gray-lighter
        card-rounded-bottom
        d-flex
        align-items-center
        ps-2
      "
    >
      <h3 class="display-8 fw-bold text-white text-shadow">台灣小吃</h3>
    </div>
  </a>
  </li>
  <li class="col-4">
    <a
    href="#"
    class="
      card
      bg-transparent
      border-0
      card-rounded
      position-relative
      h-200
      card-hover-filter card-hover-filter
    "
  >
    <div class="ratio-4x3 h-100">
      <img
        src="./assets/images/taiwanSpecial-3.png"
        alt="img"
        class="card-bg-img h-100 card-rounded"
      />
    </div>
    <div
      class="
        position-absolute
        bottom-0
        w-100
        h-20
        bg-gray-lighter
        card-rounded-bottom
        d-flex
        align-items-center
        ps-2
      "
    >
      <h3 class="display-8 fw-bold text-white text-shadow">台灣各地特色</h3>
    </div>
  </a>
  </li>
</ul>
</nav>