<div class="row justify-content-center">
    <div class="col-10">
<div class="card-light-filter rounded-5 card-shadow px-5 py-2 py-sm-11 px-sm-6 h-100 mt-n10 mt-md-0">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-end gap-11 w-100 h-100">
        <div class="w-100 w-md-auto">
            <label for="destination" class="h3 text-muted form-label mb-3">目的地</label>
            <input type="text" name="destination" id="destination" class="form-control" placeholder="你要去哪裡？">
        </div>
        <div class="w-70 w-md-auto">
            <label for="duration" class="h3 text-muted form-label mb-3">入住-退房</label>
            <input type="date" name="duration" id="duration" class="form-control">
        </div>
        <div class="w-100 w-md-auto">
            <label for="demand" class="h3 text-muted form-label mb-3">房間及人數</label>
            <input type="text" name="total number" id="demand" class="form-control">
        </div>
        <a href="#" class="d-flex align-items-center btn btn-light rounded-4 w-20">
            <span class="material-icons-outlined d-block text-dark"> search </span>
            搜尋
          </a>

    </div>
</div>
</div>
</div>