<div class="d-flex justify-content-center gap-4 pb-15 mt-md-18 pt-md-20 pb-md-8">
  <div class="d-flex justify-content-center position-relative w-60">
    <input
      type="text"
      class="input-search w-100"
      name="search input"
      placeholder="請輸入關鍵字"
    />
    <a
      href="#"
      class="
        material-icons-outlined
        align-middle
        link-dark
        position-absolute
        top-50
        end-0
        translate-middle-y
        me-2
      "
    >
      search
    </a>
  </div>
  <a href="#" class="d-flex align-items-center btn btn-light rounded-4">
    <span class="material-icons-outlined d-block text-dark"> apps </span>
    進階搜尋
  </a>
</div>
