.fz-18 {
  font-size: 18px;
}
.fz-24 {
  font-size: 24px;
}
.fz-28 {
  font-size: 28px;
}
.text-shadow {
  /* Add the blur effect */
  -moz-text-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  text-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
}