.hover-btn-primary{
    &:hover{
        background-color: $primary;
        color: $white;
        border: $primary solid 1px;
        &.link-dark{
            color: $white;
        }
    }
}

.btn-long-primary{
    &:hover{
        color: $primary;
        background-color: #ffffff91;
    }

}
.btn-long-success{
    &:hover{
        color: $success;
        background-color: #ffffff91;
    }

}
.btn-long-orange{
    &:hover{
        color: $orange;
        background-color: #ffffff91;
    }

}

