.nav-link {
  color: $gray-800;
  font-weight: 700;
  position: relative;
}
.link-dark {
  color: $gray-800;
  &:hover {
    color: $gray-900;
  }
}
.link-hide {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.seprate-line-md::after {
  @include media-breakpoint-up(md) {
    content: "";
    position: absolute;
    width: 2px;
    height: 1.5rem;
    border-right: 2px solid $gray-800;
    line-height: 1.5rem;
    right: 0;
  }
}

